* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.knowledge {
    display: flex;
    justify-content: center;
}

.nav-bar {
    width: 100%;
    max-width: 1600px;
}

nav {
    max-width: 1600px;
    height: 92px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
nav ul li {
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}
.knowledge-image {
    padding-left: 120px;
}
.btn {
    padding-right: 120px;
}
button {
    width: 164px;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    background-color: #30b868;
}

.thinking {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thinking-container {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 1600px;
    height: 700px;
    padding: 70px 120px 135px 120px;
    border: 2px solid white;
}
.thinking-container-main {
    width: 1350px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}
.thinking-container-main h1 {
    font-size: 72px;
    font-weight: 700;
    font-style: bold;
    line-height: 84px;
    text-align: center;
    color: white;
}
.thinking-container-main h1 .green-color {
    color: rgba(48, 184, 104, 1);
}
.thinking-container-main .p-privete {
    padding: 20px;
    width: 680px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.thinking-container-main .btn-2 {
    border-radius: 20px 20px 20px 20px;
    background-color: #ffffff;
    color: #30b868;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    width: 250px;
}

.btn-3 {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.btn-4 {
    width: 250px;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
}

.btn-5 {
    width: 198px;
    height: 52px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 1);
}


#notes-container {
    max-width: 1600px;
    height: 448px;
    margin: 0 auto;
}
.main-container .note {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-size: 25px;
    font-weight: 700;
    font-style: bold;
    line-height: 58px;
    text-transform: capitalize;
    text-align: center;
}

.main-container .bad-at-learning {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-direction: row;
    margin-top: 24px;
}
.container-card .card-info {
    width: 322px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    padding: 24px;
    color: white;
}
.card-info .image {
    width: 60px;
    height: 60px;
    color: rgba(249, 85, 85, 1);
    background: #F95555;
}
.card-info h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
}
.card-info p {
    font-size: 15px;
    font-weight: 350;
    line-height: 20px;
    color: rgba(98, 115, 130, 1);
}

#brain {
    max-width: 1600px;
    height: 840px;
    padding: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
}
.brain-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 50px;
    border: 2px solid black;
}
.brain-container h6 {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    line-height: 20px;
    padding-bottom: 20px;
}

.brain-container h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.brain-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 15px;
}
.brain-container ul {
    list-style: none;
    padding-top: 10px;
}
.brain-container ul li {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 8px;
}
.gap {
    width: 20px;
    height: 20px;
}